/*slide-show*/
.slide-show{
	padding: 44px 0 42px 22px;
	height: 334px;
}
.slide-show .wrap{
	position: relative;
	width: 960px;
	height: 334px;
	overflow: hidden;
}
.slide{
	width: 400%;
}
.slide li{
	height: 100%;
	float: left;
}
.slide-show .slide-l{
	display: block;
	margin: 0 32px 0 0;
	padding: 0;
	float: left;
	width: 396px;
}
.slide-l img{
	display: block;
}
.slide-r{
	float: right;
	width: 532px;
}
.slide-r p{
	width: 100%;
	padding: 32px 20px 74px 14px;
	margin-right: 10px;
	font-size: 1.2em;
	line-height: 24px;
	color: #6d6d6d;
}
.l-quote ,.r-quote{
	display: inline-block;
	width: 26px;
	height: 18px;
}
.l-quote{
	margin-left: -16px;
	padding-right: 18px;
	background: url(../img/l-quote.png) 0 0 no-repeat;

}
.r-quote{
	margin-left: 10px;
	background: url(../img/r-quote.png) 0 0 no-repeat
}
.more-btn{
	display: block;
	width: 148px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	background: #f02073;
}
.slide-btngroup{
	position: absolute;
	left: 428px;
	bottom: 0;
	width: 84px;
	height: 12px;
}
.slide-btn{
	margin-right: 16px;
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #ccc;
}
.slide-focus{
	background: #f02073;
}

/*主要内容*/
.index-ct{
	padding: 53px 0 61px 0;
	width: 100%;
	height: 550px;
	background: #f0f0f0;
}

/*ent-news*/
.ent-news{
	float: left;
	margin-right: 20px;
	width: 320px;
	height: 312px;
	background: #fff;
	overflow: hidden;
}
.news-tab{
	width: 321px;
}
.news-tab li{
	float: left;
	border-right: 1px solid #ce1d64;
	width: 70px;
	height: 30px;
	line-height: 30px;
	padding: 0 18px;
	color: #fff;
	background: #f02073;
}
.news-tab li:hover,.news-tab li.now{
	color: #444;
	background: #fff;
	border-right-color: #fff;
}
.news-hot ul{
	padding-left: 22px;
}
.news-top{
	clear: both;
	padding-top: 26px;
	width: 100%;
}
.news-top li{
	float: left;
	margin-right: 20px;
	width: 126px;

}
.news-top li img{
	display: block;
	padding: 2px;
	width: 120px;
	height: 90px;
	border: 1px solid #ccc;
}
.news-top a h4{
	font: 1em/2.5 "宋体";
	text-align: center;
}
.news-bottom{
	padding-top: 10px;
}
.news-bottom li{
	padding-left: 14px;
	background: url(../img/news-libg.jpg) 0 center no-repeat;
}
.news-bottom li a{
	font: 1em/2 "宋体";
}

/*ent-serv -- success-cases  -- header*/
.header{
	height: 46px;
	background: url(../img/header-bg.jpg) 0 0 no-repeat;
}
.header .title{
	float: right;
	padding-right: 26px;
}
.header .title span{
	display: block;
	text-align: center;
	line-height: 30px;
}
.header .title .zh-cn{
	font-size: 1.4em;
	color: #444;
}
.header .title .us-en{
	margin-top: -15px;
	font-size: 1em;
	color: #838282;
}
/*ent-serv*/
.ent-serv{
	float: right;
	width: 640px;
	height: 312px;
	background: #fff;
}

/*ent-ct*/
.ent-ct{
	padding: 12px 26px 20px 10px;
}
.ent-ct-l{
	float: left;
	width: 348px;
	height: 228px;
}
.ent-ct-l-t{
	display: block;
	position: relative;
}
.ent-ct-l-t img{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin-right: 16px;
	padding: 2px;
	width: 120px;
	height: 90px;
	border: 1px solid #ccc;
}
.ent-ct-l-t h4,.ent-ct-l-t p{
	padding-left: 154px;
}
.ent-ct-l-t h4{
	font-size: 1.2;
	font-family: "宋体";
	line-height: 34px;
	color: #f02073;
}
.ent-ct-l-t p{
	width: 194px;
	font-size: 1em;
	font-family: "宋体";
	line-height: 18px;
	color: #999;
}

/*ent-ct-l-b*/
.ent-ct-l-b{
	padding-top: 40px;
}
.ent-ct-l-b li{
	padding-left: 14px;
	background: url(../img/news-libg.jpg) 0 center no-repeat;
}
.ent-ct-l-b li a{
	font: 1em/2 "宋体";
}
.ent-ct-l-b li .date{
	float: right;
}

/*ent-ct-r*/
.ent-ct-r{
	position: relative;
	float: right;
	width: 226px;
	height: 228px;
}
.ent-ct-r img{
	position: absolute;
	left: 0;
	top: 1px;
	width: 226px;
	height: 168px;
}
.ent-ct-r h4{
	margin-top: 170px;
	text-align: center;
}
.ent-ct-r h4 a{
	font-size: 1.2em;
	font-family: "宋体";
	color: #f02073;
}
.ent-ct-r p{
	font-size: 1em;
	color: #999;
	font-family: "宋体";
	line-height: 18px;
}

/*success-cases*/
.success-cases{
	float: left;
	margin-top: 28px;
	width: 100%;
	height: 214px;
	background: #fff;
}
.cases{
	width: 100%;
	height: 168px;

}
.cases-list{
	width: 990px;
	padding:4px 0 0 22px;
}
.cases-item{
	float: left;
	width: 164px;
}
.cases-item img{
	display: block;
	padding: 2px;
	width: 120px;
	height: 90px;
	border: 1px solid #ccc;
}
.cases-item a{
	display: block;
	width: 120px;
	font-size: 1em;
	color: #333;
	line-height: 24px;
	font-family: "宋体";
}
.cases-item h5{
	text-align: center;
}

/*footer*/
.footer{
	width: 100%;
	height: 100px;
	background: #ebebeb;
}
.footer p,.footer a{
	color: #666;
}
.footer p{
	font: 1em/22px "宋体";
}
.footer .footer-nav {
	
	padding: 16px 0 10px 0;
	font: 1em/1.2 "宋体";
}

