/*css reset*/
body,ul,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,dl,dt,dd,input{margin: 0;padding: 0;}
body{font-size: 12px;font-family: "宋体";}
img{border: none;}
li{list-style: none;}
input,select,textarea{outline: none;border: none;background: none;}
textarea{resize: none;}
a{text-decoration: none;color: #656565;}

.c{zoom: 1;}
.c:after{content: "";display: block;clear: both;}

.fl{
	float: left;
}
.fr{
	float: right;
}

.txt-overflow{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.yahei{
	font-family: "Microsoft YaHei";
}
.w1000{
	width: 1000px;
	margin: 0 auto;
}
.w1122{
	width: 1122px;
	margin: 0 auto;
}
